@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  background-color: #212121;
  font-family: "Lato", sans-serif;
}
.app-cont {
  display: flex;
  max-width: 100vw;
}
.app-page {
  display: flex;
  width: 70%;
  height: 30vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin-top: 2%;
  margin-left: 2.5%;
}
.img {
  width: 30%;
  margin: 5% 7.5% 0 0;
  border-radius: 5%;
}
.about-cont > p {
  font-size: 1.45rem;
}
.page-title {
  font-size: 2.5rem;
  padding: 25px;
  width: 20%;
  margin: 0 5%;
}
.skills-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}
.skill {
  width: 20%;
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
}
.triangle-topleft {
  background-image: url("/images/Untitled_design.png");
  height: 300px;
  width: 300px;
  z-index: 2;
  background-repeat: no-repeat;
}
.triangle-topleft2 {
  background-image: url("/images/Copy_of_Untitled.png");
  height: 600px;
  width: 600px;
  background-repeat: no-repeat;
  z-index: 2;
}
.nav-cont {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 350px;
  padding-top: 5%;
  padding-left: 80%;
}
.nav-head {
  display: flex;
  justify-content: flex-start;
  position: sticky;
}
.nav-head-big {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.home-cont {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tri-content {
  margin: 5%;
}
.icons {
  margin: 5%;
  display: flex;
  justify-content: flex-start;
}
span {
  margin: 1.5%;
}
a {
  color: inherit;
}
